#h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

#inputs {
    background-color: #EBEBEB;
    max-width: 200px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    border-radius: var(--radius);
}

#input1 {
    background-color: #EBEBEB;
    max-width: 430px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    border-radius: var(--radius);
}

#mail {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    color: white;
    background-color: #0093FF;
    border-radius: calc(var(--radius) - 2px);
    font-weight: 600;
    max-width: 430px;
}