#contact {
    color: white;
    font-weight: 700;
    font-size: 1.25rem ;
    line-height: 1.75rem
}
 
#h2 {
    font-weight: 200;
    font-size: 76%;
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
    gap: 0.5rem;
    display: flex;
    align-items: center;
}

#h3 {
    font-weight: 200;
    font-size: 76%;
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
    gap: 0.25rem;
    display: flex;
    align-items: center;
    max-width: 250px;
}

#links {
    margin-bottom: 1.25rem;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: white; 
}


#h4 {
    font-weight: 200;
    font-size: 76%;
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity))
}


#h5 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: white; 
}

#p {
    font-weight: 200;
    font-size: 16px;
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity))
}

#p1 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: white;
}
