#header {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: black;
    align-items: center;
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
}


#sheetcontent {
    width: 400px;
}

#li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}